* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: #f2f2f2;
}

header {
    background: #1e90ff;
    padding: 20px;
    text-align: center;
    color: white;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #1e90ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0b61b8;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background: #ddd;
}
